body {
  margin:0;
  width: 100%;
}
.wrapper {
  
  
}
.container{
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.header{
  width: 100%;
  line-height: 77px;
  background-color: #131415;
}
.header__logo{
  font-family: Gora free, serif;
  font-size: 18px;
  color: #f89513;
  
  text-transform: uppercase;
}
.header__menu{
  list-style: none;  
  
  text-transform: uppercase;
}
.header__menu-list{
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
}
.menu1:before {
  content: '';
  position: absolute;
  width: 19px;
  height: 14px;
  background-image: url('img/main_icon.png');
  left: -1px;
}
.menu2:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url('img/feed_icon.png');
  
}
.menu3:before {
  content: '';
  position: absolute;
  width: 19px;
  height: 14px;
  background-image: url('img/service_icon.png');
  
}
.header__contacts{
  
}
.header__contacts-tel{
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: block;
}
.header__contacts-worktime{
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: initial;
  color: #b46f14;
  display: block;
}

.banner{
  text-transform: uppercase;
  background-color: #fff;
  height: 685px;
}
.banner__img{
  padding-top: 90px;
  
}

.features{
  background-color: #131415;
  padding-top: 65px;
  display: flex;
  height: 570px;
  justify-content: space-evenly;
 
}
.features__caption-high{
  text-transform: uppercase;
  font-family: OpenSans, sans-serif;
  font-size: 49px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  align-content: flex-start;
}
.features__items{
  width: 200px;
  height: 372;
  
    
}
.features__items-img{
  background-color: #f89513;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  text-align: center;

}
.features__img{
  margin-top: 25%;
  height: 35px;
  width: 35px;
  }
.features__caption-low{
  font-family: OpenSans, sans-serif;
  font-size: 11px;
  color: #fff;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
.features__paragraph{
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
.features__list{}
.features__list-item{
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.news{}
.news__caption{
  text-transform: uppercase;
  font-family: OpenSans, sans-serif;
  font-size: 49px;
  color: #131415;
  text-align: center;
  font-weight: bold;
}
.news__articles{}
.news__articles-list{
  list-style: none;  
}
.news__articles-item{}
.news__articles-imgborder{}
.news__articles-img{
  
}
.news__articles-date{
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 14px;
  color: #656464;
  text-align: left;
  font-weight: lighter;
}
.news__articles-caption{
  font-family: Roboto;
  font-size: 18px;
  color: #221f1f;
  text-align: left;
  font-weight: bold;
}
.news__articles-content{
  font-family: Roboto;
  font-size: 18px;
  color: #221f1f;
  text-align: left;
  font-weight: lighter;
}
.news__articles--top{}
.news__articles--top-caption{
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  color: #221f1f;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}
.news__articles--top-period{
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  color: #656464;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
}
.news__articles--top-list{
  list-style: none;  
}
.news__articles--top-items{}
.news__articles--top-img{}
.news__pagination{}
.news__pagination-now{
  font-family: Roboto;
  font-size: 14px;
  color: #656464;
  text-align: center; 
  font-weight: lighter;
}
.news__pagination-list{
  list-style: none;  
}
.news__pagination-item{
  font-family: Roboto;
  font-size: 14px;
  color: #221f1f;
  text-align: center; 
  font-weight: bold;
  text-transform: uppercase;
}
.news__pagination-imgleft{}
.news__pagination-imgright{}

.footer{
  width: 100%;
  line-height: 75px;
  background-color: #131415;
}
.footer__whomade{
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: left; 
  font-weight: lighter;
}
.loftschool {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  font-family: OpenSans, sans-serif;
}
.footer__logo{
  text-transform: uppercase;
  font-family: Gora free, serif;
  font-size: 18px;
  color: #f89513;
}
.footer__smm{
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  color: #fff;
  text-align: center; 
  font-weight: bold;
}
.footer__smm-list{
  list-style: none;  
}
.footer__smm-link{}
.footer__smm-item1{}
.footer__smm-item2{}
.footer__smm-item3{}
.footer__smm-item4{}
.footer__smm-item5{}
.footer__smm-img{}